/* Styles go here */

.small {
  font-size: 80%;
  color: grey;
}

.oneWord {
  width: 100%;
  height: 100%;
  display: table;
  overflow: hidden;
}

.oneWord_inner {
  display: table-cell;
  vertical-align:middle;
}

.oneWord_inner_inner {
  font-size: 240%;
  color: black;
  text-align: center;
}
